<!DOCTYPE html>
<html>

<head>
    <title>Dashboard - Social Media Analysis</title>
    <style>
        .embed-container iframe {
            width: 90%;
            height: 600px;
            border: none;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/st.css') }}">
</head>

<body
    style="background-image: url(https://media.istockphoto.com/id/1221290384/video/social-media-logo-compilation-animation-social-network-marketing-dark-background.jpg?s=480x480&k=20&c=CZlAc9nU85lHpqWo0OG9s8XEOq7-Y4u7sa4fZn2Tb_0=);background-repeat: no-repeat;background-position: center;background-size: 1700px 900px;">
    <h1>DASHBOARD</h1>
    <div class="embed-container">

        <iframe
            src="https://us1.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FSocial%2BMedia%2Bdashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard"
            width="320" height="400" frameborder="0" gesture="media" allow="encrypted-media"
            allowfullscreen=""></iframe>



    </div>
</body>

</html>