<!DOCTYPE html>
<html>

<head>
    <title>Social Media Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/st.css') }}">
</head>

<body class="home">
    <div class="heading">
        <h1>Dissecting the Digital Landscape: A Comprehensive Analysis of Social Media </h1>
    </div>

    <div class="container">
        <a class="link" href="{{ url_for('dashboard') }}">Dashboard</a>
        <a class="link" href="{{ url_for('story') }}">Story</a>
        <a class="link" href="{{ url_for('report') }}">Report</a>
    </div>
    <div class="container1">
        <p>
            <span> "Dissecting the Digital Landscape: A Comprehensive Analysis of Social Media", embarks on a pioneering
                journey to unravel the multifaceted impact of social media on society, technology, and culture. In an
                era
                defined by digital interconnectedness, the influence of social media is profound, necessitating a deep
                and
                comprehensive exploration. Seeks to address pressing challenges, understand the complexities,
                and provide insights that enable individuals, businesses, and policymakers to navigate the evolving
                world of
                social media effectively and ethically.
            </span>
        </p>

    </div>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>