<!DOCTYPE html>
<html>

<head>
    <title>Report - Social Media Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/st.css') }}">
</head>

<body
    style="background-image: url(https://cutewallpaper.org/21/wallpapers-twitter/Twitter-Wallpaper-Wallperio.com.png);">
    <h1>REPORT</h1>
    <div class="embed-container">
        <iframe
            src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2FSocial%2BMedia%2Breport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded"
            width="1400" height="600" frameborder="0" gesture="media" allow="encrypted-media"
            allowfullscreen=""></iframe>
    </div>
</body>

</html>