<!DOCTYPE html>
<html>

<head>
    <title>Story - Social Media Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/st.css') }}">
</head>

<body
    style="background-image: url(https://videohive.img.customer.envatousercontent.com/files/0b45cb81-cc12-4b29-9aec-769b62c28b59/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=03fca50a19d3abc4b12f4925059bec7e);background-repeat: no-repeat;background-position: center;background-size: 1700px 800px;">
    <h1>STORY</h1>
    <div class="embed-container">
        <iframe
            src="https://us1.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FSocial%2BMedia%2Bstory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard"
            width="1400" height="600" frameborder="0" gesture="media" allow="encrypted-media"
            allowfullscreen=""></iframe>
    </div>
</body>

</html>